<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title th:text="${produto.nome}"></title> 
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/upload.min.css}"/>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1 th:text="${produto.nome}">Produto</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="rol">
			<div class="col-sm-9 js-container-foto" >
				<img class="img-responsive" style="margin: auto;" th:src="${produto.url}" th:if="${produto.temFoto()}"/>
				<div id="upload-drop" class="wn-upload" th:attr="data-codigo=${produto.codigo}"
				th:if="${not produto.temFoto()}">
					<img class="img-responsive" style="margin: auto;" width="600" height="450" th:src="@{/images/mockup-produtos.png}"/>
					<div>
						<span>Arraste a foto aqui ou</span>
						<a class="wn-upload-form-file"> Selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
					</div>
				</div>
			</div>
			
			<div class="col-sm-3">
				<ul class ="list-group">
					<li class="list-group-item" th:text="|Tipo: ${produto.tipo.descricao}|"> Tipo do produto</li>
					<li class="list-group-item" th:text="|Estoque: ${produto.qtdeestoque}|"> Estoque</li>
					<li class="list-group-item" th:text="|Valor: R$ ${produto.valor}|"> Valor </li>
				</ul>
				
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/produto.upload-foto.js}"></script>
	
</th:block>

</body>
</html>